@media (max-width:1140px) {
    
} 




@media (max-width:1320px) {
    .main_footer{
        display: flex !important;
        align-items: center !important;
        justify-self: center !important;
    }
    
    
} 

@media (max-width:960px) {
   .main_text h1{
        font-size: 4rem;
    }

    
} 
@media (max-width:768px) {
    .main_text h1{
        font-size: 2.589rem;
    }
    .about-cred{
        background-color: var(--bg-color);
        border-radius: 15px !important;
        text-align: center !important;
        justify-content: center !important;


    }
    .subheading{
        color: var( --bs-white);
    }
    .span_img{
        display: none;
    }
    .main_text_about p{
        text-align: center !important;
    }
    .subheading{
        text-align: center !important;
    }
    .about-cred{
        display: flex;
        justify-content: center !important;
    }
    .input_box input{
        /* text-align: center; */
        width: 100%;

    }
    .textarea_box textarea{
        width: 100%;
    }
    
} 
@media (max-width:540px) {
    .main_text h1{
        font-size: 1.99rem;
    }
    .cred_all{
        margin-top: 20px;
    }
    .input_box input{
        /* text-align: center; */
        width: 100%;

    }
    .textarea_box textarea{
        width: 100%;
            
    }
    
} 


































			